.competitions {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.competitions ol {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.competition {
  list-style-type: none;
  font-weight: bold;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  transition-duration: .4s;
  min-height: 10em;
}

.competition img {
  width: 8em;
  margin: .4em 0;
  max-height: 8em;
}

.competition:hover {
  background-color: #e2e2e2;
  box-shadow: 0 0 10px 2px #cecece;
}

.matches {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.matches ol {
  display: inline-block;
  padding: 0;
  width: 100%
}

@media screen and (max-width: 565px){
  .competition img {
    display: none;
  }

  .competition {
    min-height: auto;
  }

  .competitions ol {
    display: inline-block;
    
  }
}