.competition {
  list-style-type: none;
  font-weight: bold;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #c4c4c4;
  margin: 5px;
  cursor: pointer;
}

.competition:hover {
  background-color: #e2e2e2
}

.competitions ol {
  padding: 0
}