.Header {
  height: 100px;
  background-color: #f1f1f1;
  border: 1px solid gray;
  position: relative;
  z-index: 40;
}

.Header-logo {
  height: 80%;
}

/*======= NAV ======*/
.nav {
  position: absolute;
  bottom: 0;
  right: 0;
}

.nav_list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav_item {
  box-sizing: border-box;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  padding: 1em;
  text-transform: uppercase;
} 

.nav_item a:hover {
  color: navy
}

.nav_link {
  text-decoration: none;
  color: #616161;
}

.burger_menu{
  display: none;
}

.phantom {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%
}

footer {
  /* height: 50px; */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  box-shadow: 0 0 2px 0 #ddd;
  background-color: #d8d8d8;
} 
@media screen and (max-height: 600px) {
  /* .Footer {
    position: relative;
    bottom: -10px
  } */
}
@media screen and (max-width: 565px){
  .nav{
    z-index: 10;
    /* background-color: #fff; */
    width: 300px;
    /* height: 100%; */
    position: absolute;
    left: 0;
    top: 100px;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
    
  }
  .nav_item{
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .nav.open{
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .burger_menu{
    display: inline-block;
    padding: 1em;
  }
  .burger_menu svg {
    width: 48px;
    fill: #a8a8a8;
  }
}