.admin_button {
  background-color: rgb(29, 154, 204);
  color: #fff;
  padding: 1em 1em;
  min-width: 8em;
  border: none;
  border-radius: .4em;
  text-decoration: none;
  cursor: pointer;
  transition-duration: .4s;
  outline: none;
  position: absolute;
  right: 0;
  margin-right: 1em
}

.admin_button:hover {
  background-color: rgb(26, 68, 160);
  box-shadow: -1px 1px 14px rgb(114, 114, 119);
}