.match {
  list-style-type: none;
  margin: .5em;
  padding: .5em;
  border: 1px solid #c4c4c4;;
  border-radius: 10px;
  text-align: left;
  transition-duration: 0.4s;
}

/* .match:nth-child(odd) {
  background-color: #e2e2e2
} */
.match:hover {
  display: block;
  
  background-color: #e2e2e2;
  box-shadow: 0 0 10px 2px #cecece;
}

.match img {
  width: 1em;
  margin: .2em
}

.match_details p {
  margin: .2em
}
.match .icon:hover {
  background-color: rgb(207, 207, 207);
  box-shadow: 0 0 10px 2px #8b8b8b;
  border-radius: 5px;
  cursor: pointer;
}

.match_details {
  display: inline-flex;
  width: 100%
}
.match .icons {
  text-align: right
} 

.match_details div {
  width: 50%;
}